---
template: page.template
--- name:content
<webgen:block name="content" />
--- name:sidebar-before
<% context.persistent[:menu] = {'and' => 'news', 'sort' => 'sort_info', 'reverse' => true} %>
<webgen:block name="sidebar-before" notfound="ignore" node="first" />
<h3>News Items</h3>
