---
template: news.template
--- name:content
<article class="post">
  <h1><%= context.dest_node.link_to(context.node) %>
    <small>Published on <time class="published" datetime="<%= context.node['created_at'].strftime("%FT%T%:z") %>"><%= context.node['created_at'].strftime("%A, %d %B %Y") %></time></small>
  </h1>
  <webgen:block name="content" />
</article>

