@font-face {
    font-family: 'Lato';
    src: url('lato/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('lato/LatoLatin-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/LatoLatin-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('lato/LatoLatin-BoldItalic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/LatoLatin-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('lato/LatoLatin-Italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('lato/LatoLatin-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('lato/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
         url('lato/LatoLatin-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoLatinWebThin';
    src: url('lato/LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('lato/LatoLatin-LightItalic.woff') format('woff');
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
