$base-font-family: 'Lato, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Ubuntu, \"Helvetica Neue\", Helvetica, sans-serif';
$nav-sublink-start: 2;
$nav-sublink-depth: 4;
$table-max-height: inherit;

@import 'mini/core';
@import 'mini/layout';

@include make-card-alt-size ('fluid', 100%);
@include make-card-alt-color ('information', #D6E8DD);

@import 'mini/input_control';

@include make-button-alt-color ('primary', var(--color-primary), var(--color-primary-light), #f0f0f0);
@include make-button-alt-color ('hero', rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), #f0f0f0);
@include make-button-alt-size ('buy', calc(0.5 * var(#{$universal-padding-var})) calc(0.75 * var(#{$universal-padding-var})), 0 0 0 var(#{$universal-margin-var}));

@import 'mini/navigation';
@import 'mini/table';
@import 'mini/contextual';
@import 'mini/icon';

span {
  $stroke-color: str-replace("#{$fore-color}", '#', '%23');
  &.icon-arrow-right-circle {
    background-image: #{str-replace("url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 16 16 12 12 8'%3E%3C/polyline%3E%3Cline x1='8' y1='12' x2='16' y2='12'%3E%3C/line%3E%3C/svg%3E\")",'currentColor',$stroke-color)};
  }
  &.icon-book-open {
    background-image: #{str-replace("url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z'%3E%3C/path%3E%3Cpath d='M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z'%3E%3C/path%3E%3C/svg%3E\")",'currentColor',$stroke-color)};
  }
  &.icon-plus {
    background-image: #{str-replace("url(\"data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3ccircle cx='12' cy='12' r='10'%3e%3c/circle%3e%3cline x1='12' y1='8' x2='12' y2='16'%3e%3c/line%3e%3cline x1='8' y1='12' x2='16' y2='12'%3e%3c/line%3e%3c/svg%3e\")",'currentColor',$stroke-color)};
  }
  &.icon-file-plus {
    background-image: #{str-replace("url(\"data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z'%3e%3c/path%3e%3cpolyline points='14 2 14 8 20 8'%3e%3c/polyline%3e%3cline x1='12' y1='18' x2='12' y2='12'%3e%3c/line%3e%3cline x1='9' y1='15' x2='15' y2='15'%3e%3c/line%3e%3c/svg%3e\")",'currentColor',$stroke-color)};
  }
  &.icon-file-text {
    background-image: #{str-replace("url(\"data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z'%3e%3c/path%3e%3cpolyline points='14 2 14 8 20 8'%3e%3c/polyline%3e%3cline x1='16' y1='13' x2='8' y2='13'%3e%3c/line%3e%3cline x1='16' y1='17' x2='8' y2='17'%3e%3c/line%3e%3cpolyline points='10 9 9 9 8 9'%3e%3c/polyline%3e%3c/svg%3e\")",'currentColor',$stroke-color)};
  }
  &.icon-lock {
    background-image: #{str-replace("url(\"data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3crect x='3' y='11' width='18' height='11' rx='2' ry='2'%3e%3c/rect%3e%3cpath d='M7 11V7a5 5 0 0 1 10 0v4'%3e%3c/path%3e%3c/svg%3e\")",'currentColor',$stroke-color)};
  }
  &.icon-cog {
    background-image: #{str-replace("url(\"data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-settings'%3e%3ccircle cx='12' cy='12' r='3'%3e%3c/circle%3e%3cpath d='M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z'%3e%3c/path%3e%3c/svg%3e\")",'currentColor',$stroke-color)};
  }
  &.icon-github {
    background-image: #{str-replace("url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'%3E%3C/path%3E%3C/svg%3E\")",'currentColor',$stroke-color)};
  }
}

@import 'mini/utility';

$color-primary: #0080FF;
$color-primary-light: #81c0ff;
$color-primary-dark: #0066cc;
$color-secondary: #00B34A;
$color-tertiary: #B30C00;
$color-grey: #222;
$color-grey-light: lighten($color-grey, 70%);
$color-grey-extralight: lighten($color-grey, 90%);


:root {
  --color-primary: #{$color-primary};
  --color-primary-light: #{$color-primary-light};
  --color-primary-dark: #{$color-primary-dark};
  --color-grey: #{$color-grey};
  --color-grey-light: #{$color-grey-light};
  --a-link-color: #{$color-primary-dark};
  --a-visited-color: #{$color-primary-dark};

  --nav-link-color: #{$color-primary-dark};

  --header-fore-color: #{$color-grey-light};
  --header-back-color: #{$color-grey};
  --header-hover-back-color: #222;
  --header-hover-fore-color: #{$color-grey-extralight};
  --drawer-back-color: #{$color-grey};
  --drawer-close-color: #{$color-grey-extralight};
  --drawer-hover-back-color: #{$color-primary};

  --footer-back-color: #{$color-grey};
  --footer-fore-color: #{$color-grey-light};
  --footer-link-color: #{$color-grey-light};
  --footer-link-hover-color: #{$color-grey-extralight};

  --universal-border-radius: 0.5rem;
  --universal-margin: 1rem;

  --pre-color: #{$color-primary-dark};
}


html, * {
  font-weight: 300;
}

dl {
  margin: var(--universal-margin);
}

pre, pre * {
  font-family: #{$code-font-family};
  code {
    font-size: .85rem;
    padding: 0;
  }
}

.wmax {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  width: 100%;
}

header {
  height: 4rem;
  border: none;

  .logo {
    img {
      vertical-align: middle;
      height: 3rem;
      padding-right: 1rem;
    }
  }

  .button {
    height: calc(4rem + var(--universal-padding) / 1.5);
    line-height: calc(4rem - var(--universal-padding) * 1.5);
    font-size: 1.2rem;

    &:hover, &:focus {
      color: var(--header-hover-fore-color);
    }
  }

  #search {
    display: inline-block;
  }

  #tipue_search_input {
    width: 10em;
  }

  #tipue_search_content {
    margin: 0;
    display: none;
    position: absolute !important;
    max-width: inherit;
    width: 70%;
    left: 15%;
    border: 2px solid #ddd;
    border-top: 0px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    z-index: 1;
    padding: 1em 2em;
    line-height: 1.5em;
    text-align: left;
    white-space: normal;
    color: initial;

    .tipue_search_content_title {
      margin-top: 0.5em;
    }
    .tipue_search_content_loc {
      display: none;
    }
  }
}

footer {
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-primary-light);
  }
  ul {
    list-style: none;
    padding-left: 0;
  }

  span[class^="icon-"] {
    filter: invert(60%);
  }
  a:link {
    color: var(--footer-link-color);
  }
  a:hover {
    text-decoration: none;
    color: var(--footer-link-hover-color);
  }
}

nav {
  ul, li, span {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
}

.hero {
  background-color: var(--color-primary);
  background-image: url(../images/background.png);
  padding: 4rem 2rem;

  .card {
    background: none;
    border: none;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
    color: #fff;
    * {
      color: #fff;
    }
    h1 {
      font-size: 3rem;
      font-weight: 300;
    }
    p {
      font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio));
    }
    pre {
      background: none;
      border: none;
      font-size: 1rem;
    }
    a {
      text-decoration: dotted underline;
    }
  }
}

.cta {
  background-color: #eee;
  * {
    font-size: calc(1rem * var(--heading-ratio) * var(--heading-ratio));
  }
}

.breadcrumb {
  background-color: #eee;
  > div {
    padding: var(--universal-padding) var(--universal-padding);
  }
  * {
    font-size: 1rem;
  }
}

.feature {
  h3 {
    font-weight: 300;
  }
}

.main {
  margin-top: calc(2 * var(--universal-margin));
}

.hexagon {
  mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='none' zoomAndPan='disable'%3E%3Cpolygon points='25,0 0,50 25,100 75,100 100,50 75,0 inherit' style='fill:%23000' /%3E%3C/svg%3E") 0 0/100% 100%;
  -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='none' zoomAndPan='disable'%3E%3Cpolygon points='25,0 0,50 25,100 75,100 100,50 75,0 inherit' style='fill:%23000' /%3E%3C/svg%3E") 0 0/100% 100%;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin-right: var(#{$universal-margin-var});
  background-color: var(--color-primary);
}

.toc {
  float: right;
  margin: var(--universal-margin);
  padding: var(--universal-margin) 0 var(--universal-margin) calc(2 * var(--universal-margin));
  background-color: #eee;
  width: 30%;
  ul {
    margin: 0;
  }
}
@media screen and (max-width: $table-mobile-breakpoint){
  .toc {
    float: none;
    width: inherit;
  }
}

//////////////////
// API pages
//////////////////
@import "api";
nav li {
  a {
    overflow: hidden;

    &:hover {
      overflow-wrap: anywhere;
    }
  }
  .api-class-parent {
    color: lighten($color-grey, 30%);
  }
  :hover > a > span.api-class-parent {
    color: inherit;
  }
}

table.field-definitions {
  max-height: inherit;

  tr td:nth-child(1), tr th:nth-child(1) {
    max-width: 10em;
  }
  tr td:nth-child(3), tr th:nth-child(3) {
    max-width: 6em;
  }
  tr td:nth-child(4), tr th:nth-child(4) {
    max-width: 10em;
  }
}

///////////////////
// other
///////////////////

.highlighter-rouge .hll {
 background-color:#ffc
}
.highlighter-rouge .c {
 color:#998;
 font-style:italic
}
.highlighter-rouge .err {
 color:#a61717;
 background-color:#e3d2d2
}
.highlighter-rouge .k {
 font-weight:700
}
.highlighter-rouge .o {
 font-weight:700
}
.highlighter-rouge .cm {
 color:#998;
 font-style:italic
}
.highlighter-rouge .cp {
 color:#999;
 font-weight:700
}
.highlighter-rouge .c1 {
 color:#998;
 font-style:italic
}
.highlighter-rouge .cs {
 color:#999;
 font-weight:700;
 font-style:italic
}
.highlighter-rouge .gd {
 color:#000;
 background-color:#fdd
}
.highlighter-rouge .ge {
 font-style:italic
}
.highlighter-rouge .gr {
 color:#a00
}
.highlighter-rouge .gh {
 color:#999
}
.highlighter-rouge .gi {
 color:#000;
 background-color:#dfd
}
.highlighter-rouge .go {
 color:#888
}
.highlighter-rouge .gp {
 color:#555
}
.highlighter-rouge .gs {
 font-weight:700
}
.highlighter-rouge .gu {
 color:#aaa
}
.highlighter-rouge .gt {
 color:#a00
}
.highlighter-rouge .kc {
 font-weight:700
}
.highlighter-rouge .kd {
 font-weight:700
}
.highlighter-rouge .kn {
 font-weight:700
}
.highlighter-rouge .kp {
 font-weight:700
}
.highlighter-rouge .kr {
 font-weight:700
}
.highlighter-rouge .kt {
 color:#458;
 font-weight:700
}
.highlighter-rouge .m {
 color:#099
}
.highlighter-rouge .s {
 color:#b84
}
.highlighter-rouge .na {
 color:#008080
}
.highlighter-rouge .nb {
 color:#999
}
.highlighter-rouge .nc {
 color:#458;
 font-weight:700
}
.highlighter-rouge .no {
 color:#008080
}
.highlighter-rouge .ni {
 color:#800080
}
.highlighter-rouge .ne {
 color:#900;
 font-weight:700
}
.highlighter-rouge .nf {
 color:#900;
 font-weight:700
}
.highlighter-rouge .nn {
 color:#555
}
.highlighter-rouge .nt {
 color:#000080
}
.highlighter-rouge .nv {
 color:#008080
}
.highlighter-rouge .ow {
 font-weight:700
}
.highlighter-rouge .w {
 color:#bbb
}
.highlighter-rouge .mf {
 color:#099
}
.highlighter-rouge .mh {
 color:#099
}
.highlighter-rouge .mi {
 color:#099
}
.highlighter-rouge .mo {
 color:#099
}
.highlighter-rouge .sb {
 color:#b84
}
.highlighter-rouge .sc {
 color:#b84
}
.highlighter-rouge .sd {
 color:#b84
}
.highlighter-rouge .s2 {
 color:#b84
}
.highlighter-rouge .se {
 color:#b84
}
.highlighter-rouge .sh {
 color:#b84
}
.highlighter-rouge .si {
 color:#b84
}
.highlighter-rouge .sx {
 color:#b84
}
.highlighter-rouge .sr {
 color:#808000
}
.highlighter-rouge .s1 {
 color:#b84
}
.highlighter-rouge .ss {
 color:#b84
}
.highlighter-rouge .bp {
 color:#999
}
.highlighter-rouge .vc {
 color:#008080
}
.highlighter-rouge .vg {
 color:#008080
}
.highlighter-rouge .vi {
 color:#008080
}
.highlighter-rouge .il {
 color:#099
}

table.standard {
  max-height: inherit !important;

  td {
    text-align: left !important;
  }
}

.bmtable table {
  max-height: inherit;
  tbody {
    border-top: 1px solid black;
  }
}

@media screen and (min-width: $table-mobile-breakpoint){
  table.standard tbody tr:first-child td {
    border-top: $__1px solid var(#{$table-border-color-var});
  }
}

@media screen and (min-width: $table-mobile-breakpoint){
  [type="checkbox"].#{$drawer-name} + * {
    width: inherit;
    border: none;
  }
}

.main-nav [type="checkbox"].#{$drawer-name}:checked {
  & + * {
    width: $drawer-width;
  }
  & + * .button {
    display: flex;
  }
}


.card.padded {
  .section {
    padding: calc(4 * var(--universal-padding));
    &:first-child {
      padding: calc(2 * var(--universal-padding)) calc(4 * var(--universal-padding));
    }
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.pdf-image {
  border-left: .25rem solid var(--pre-color);
}
