<!DOCTYPE HTML>
<html>
  <head>
    <title>HexaPDF - {title:}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{relocatable: assets/sass/main.css}" />
  </head>
  <body>
    <div id="page-wrapper">

      <!-- Header -->
      <div id="header">
        <!-- Nav -->
        <nav id="nav">
          <div class="container">
            <h1 id="logo"><a href="{relocatable: /}">HexaPDF</a></h1>
            {menu: {css_class: mainmenu, options: {mi: {main_menu: true}, sort: true, absolute_levels: 1}}}
            <div id="search"><input type="text" placeholder="search" id="tipue_search_input" /></div>
          </div>
          <div id="tipue_search_content"></div>
        </nav>
      </div>

      <webgen:block name="content" />

      <!-- Footer -->
      <div id="footer">
        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; <a href="https://gettalong.org">Thomas Leitner</a></li>
            <li><a href="https://github.com/gettalong/hexapdf" class="icon fa-github">&nbsp;gettalong/hexapdf</a></li>
            <li><a href="https://gettalong.org/legal.html">Legal Notice</a></li>
            <li><a href="https://gettalong.org/privacy.html">Privacy Policy</a></li>
            <li>Design based on Arcana by <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </div>

    </div>

    <!-- Scripts -->
    <script src="{relocatable: assets/js/app.js}"></script>
    <script src="{relocatable: assets/search_data.js}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#tipue_search_input').tipuesearch({"mode":"static", "liveDescription":"#content"});
      });
      $(document).ready(function() {
        $('#tipue_search_input').keyup(function(event) {
          if(event.keyCode == '27') {
            $('#tipue_search_content').hide();
          }
        });
      });
    </script>

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.gettalong.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.gettalong.org/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>

  </body>
</html>
