<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>HexaPDF - {title:}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{relocatable: assets/css/site.css}" />
    <link rel="icon shortcut" type="image/ico" href="{relocatable: /assets/images/favicon.ico}" />
  </head>
  <body>

    <header>
      <div class="wmax row">
        <a class="logo col-sm" href="{relocatable: /}"><img src="{relocatable: /assets/images/logo.svg}" alt="HexaPDF logo" />HexaPDF</a>
        <div class="main-nav col-sm right col-md-8 col-lg-8">
          <label for="drawer-control" class="drawer-toggle button"></label>
          <input type="checkbox" id="drawer-control" class="drawer" title="Sidebar activator" />
          <div>
            <label for="drawer-control" class="drawer-close"></label>
            <h2 class="center hidden-md hidden-lg">Menu</h2>
            {menu: {template: /navbar-menu.template, options: {mi: {main_menu: true}, sort: true, absolute_levels: 1}}}
            <div id="search"><input type="text" placeholder="search" id="tipue_search_input" title="Search the site" /></div>
          </div>
          <div id="tipue_search_content"></div>
        </div>
      </div>
    </header>

    <webgen:block name="content" />

    <footer>
      <div class="col-sm center">
        &copy; <a href="https://gettalong.org">Thomas Leitner</a>
        | <a href="https://github.com/gettalong/hexapdf" class="icon fa-github">&nbsp;gettalong/hexapdf</a>
        | <a href="https://gettalong.org/legal.html">Legal Notice</a>
        | <a href="https://gettalong.org/privacy.html">Privacy Policy</a>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="{relocatable: assets/js/app.js}"></script>
    <script src="{relocatable: assets/search_data.js}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#tipue_search_input').tipuesearch({"mode":"static", "liveDescription":"#content"});
      });
      $(document).ready(function() {
        $('#tipue_search_input').keyup(function(event) {
          if(event.keyCode == '27') {
            $('#tipue_search_content').hide();
          }
        });
      });
    </script>

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.gettalong.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.gettalong.org/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>

  </body>
</html>
